
@{
    ViewBag.Title = "Index";
}
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
    <div class="jumbotron">
        <h1>This is a Wordpress ASP.NET Integration Test</h1>
        <h2>Using RSS feeds to pull posts</h2>
    </div>
    <div class="container-fluid">
        <h2>Blog below here</h2>
    </div>
</body>