
@{
    ViewBag.Title = "Index";
}
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
    <div class="jumbotron">
        <h1>This is a Wordpress ASP.NET Integration Test</h1>
        <h2>Using RSS feeds to pull posts</h2>
    </div>
    <div class="container-fluid">
        <div>
            @{foreach (var post in ViewBag.postList)
                {
                    <div>
                        <h1>@post.Title.Text</h1>
                        <h3>Updated on @post.LastUpdatedTime</h3>
                        <p>@Html.Raw(@post.Content.Text)</p>
                        
                        <br/>
                    </div>
                }
            }
        </div>
    </div>
</body>